<div "container">
    <div "row">
        <div class="col-md-8 offset-md-1">
            <h1>Group Detail</h1>
            <table class = "table">
                <thead>
                    <tr>
                        <th colspan="1"></th>
                        <th>Group name</th>
                        <th>Introduction</th>
                        <th>Members</th>
                        <th colspan="1"></th>
                    </tr>                        
                </thead>
                <tbody>
                    <tr>
                        <td><%= image_tag @group.get_group_image(50,50) %></td>
                        <td><%= link_to @group.name, group_path(@group) %></td>
                        <td><%= @group.introduction %></td>
                        <td>
                            <%= @group.users.each do |user| %>
                            <li><%= user.name%></li>
                            <% end %>
                        </td>
                        <td>
                            <% if @group.is_owned_by?(current_user) %>
                             <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
                            <% elsif @group.users.include?(current_user)%>
                             <%= link_to 'Leave this group', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
                            <% else %>
                             <%= link_to 'Join this group', group_group_users_path(@group), method: :post, class: "btn btn-sm btn-success" %>
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>