<h2>Books</h2>
<% @books.each do |book| %>
    <div>
      <p>投稿ユーザー画像：<%= image_tag book.get_image %></p>
      <p>title：<%= book.name %></p>
      <p>opinion：<%= book.body %></p>
    </div>
<% end %>

<h2>User Info</h2>



<h2>New Book</h2>
    
<%= form_with model: @book do |f| %>
    <h4>Title</h4>
    <div class = field><%= f.text_field :title %></div>
    <h4>Opinion</h4>
    <div class = field><%= f.text_area :body %></div>
    <div class = actions><%= f.submit 'Create Book' %></div>
<% end %>
