
<body>
    <main>
      <p id="notice"></p>
      <div class = "container">
        <div class = "row">
          <%= render 'books/info', book: @new_book, user: @user %>
          <div class="col-md-8 offset-md-1">
            <h1>Book detail</h1>
            <table class = table>
              <tbody>
                <tr id="book_<%= @book.id %>">
                  <td>
                    <%= link_to image_tag(@book.user.get_profile_image(100,100)), user_path(@user) %>
                    <div>
                      <%= link_to @book.user.name, user_path(@user) %>
                    </div>
                  </td>
                  <td>
                    <%= link_to @book.title, book_path %>
                  </td>
                  <td>
                    <%= @book.body %>
                  </td>
                  <td class="comments-count">コメント数: <%= @book.book_comments.count %></td>
                  <tr id="fav_<%= @book.id %>">
                   <td><%= render "favorites/fav", book: @book %></td>
                  </tr>
                  
                  <% if @user == current_user %>
                    <td>
                      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success edit_book" %>
                    </td>
                    <td>
                      <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_book" %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
            
            <div class="book_comments">
              <%= render 'book_comments/index', book: @book %>
            </div>
            <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
            
            
          </div>
        </div>
      </div>
    </main>
</body>