<p id = "notice"><%= flash[:notice] %></p>

<h1>Book detail</h1>

  <div>
    <%= link_to image_tag(@book.get_image), user_path(@user) %>
    <p>user name <%= link_to @book.user.name, user_path(@user) %></p>
    <p>title <%= link_to @book.title, book_path %></p>
    <p>opinion <%= @book.body %></p>
    <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book) %>
    <%= link_to "destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    
    <%= render 'books/info', book: @new_book, user: @user %>
  
  </div>
